:root {
    --green-hsl-color: hsl(75, 94%, 57%);
    --white-hsl-color: hsl(0, 0%, 100%);
    --grey-700-hsl-color: hsl(0, 0%, 20%);
    --grey-800-hsl-color: hsl(0, 0%, 12%);
    --grey-900-hsl-color: hsl(0, 0%, 8%);

    height: 100vh;
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Font  */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--white-hsl-color);

    /* Box model */
    height: 100%;
    margin: 0;
    background-color: var(--grey-900-hsl-color);

    /* Layout  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

.social-prof-block {
    background-color: var(--grey-800-hsl-color);

    /* Layout design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Box Model */
    max-width: 30rem;
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 1rem;

    @media (width >= 600px) {
        min-width: 35rem;
        padding: 3rem 3rem 2rem 3rem;
    }
}

.social-prof-block__header {
    text-align: center;
}

.social-prof-block__title {
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof-block__img--avatar {
    max-width: 40%;
    height: auto;
    border-radius: 100%;
}

.social-prof-block__paragraph {
    text-align: center;
}

.social-prof-block__paragraph--ubication {
    color: var(--green-hsl-color);
    font-weight: 600;

    margin-top: 1rem;
}

.social-prof-block__paragraph--description{
    font-weight: 400;
}

.social-prof-block__nav {
    margin-top: 1rem;
    width: 100%;
}

.social-prof-block__link {
    /* Font */
    color: var(--white-hsl-color);
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    /* Layout  */
    display: block;
    width: 100%;

    /* Box model */
    padding: 1rem 0;
    margin-bottom: 1.2rem;
    border-radius: 1rem;
    background-color: var(--grey-700-hsl-color);
}

.social-prof-block__link:hover {
    color: var(--grey-800-hsl-color);
    background-color: var(--green-hsl-color);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution__link {
    color: var(--green-hsl-color);
}